# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildNumber)' 
  app_name: 'rabbitmq'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
    - task: Docker@2
      displayName: Docker Login
      inputs:
        containerRegistry: 'dockerhub'
        command: 'login'
    - task: Docker@2
      displayName: Docker push build number
      inputs:
        containerRegistry: 'dockerhub'
        repository: 'bipins/$(app_name)'
        command: 'push'
        tags: '$(Build.BuildNumber)'
